/* MARGINS */

/* Top */
.margin-x_ts
{
    margin: 10px 0 0 0;
}

.margin-x_tm
{
    margin: 15px 0 0 0;
}

.margin-x_tl
{
    margin: 20px 0 0 0;
}

.margin-x_txl
{
    margin: 25px 0 0 0;
}

.margin-x_txxl
{
    margin: 30px 0 0 0;
}

.margin-x_txxxl
{
    margin: 40px 0 0 0;
}

.margin-x_txxxxl
{
    margin: 50px 0 0 0;
}

.margin-x_txxxxxl
{
    margin: 60px 0 0 0;
}

/* Right */
.margin-x_rs
{
    margin: 0 10px 0 0;
}

.margin-x_rm
{
    margin: 0 15px 0 0;
}

.margin-x_rl
{
    margin: 0 20px 0 0;
}

.margin-x_rxl
{
    margin: 0 25px 0 0;
}

.margin-x_rxxl
{
    margin: 0 30px 0 0;
}

.margin-x_rxxxl
{
    margin: 0 40px 0 0;
}

.margin-x_rxxxxl
{
    margin: 0 50px 0 0;
}

.margin-x_rxxxxxl
{
    margin: 0 60px 0 0;
}

/* Bottom */
.margin-x_bs
{
    margin: 0 0 10px 0;
}

.margin-x_bm
{
    margin: 0 0 15px 0;
}

.margin-x_bl
{
    margin: 0 0 20px 0;
}

.margin-x_bxl
{
    margin: 0 0 25px 0;
}

.margin-x_bxxl
{
    margin: 0 0 30px 0;
}

.margin-x_bxxxl
{
    margin: 0 0 40px 0;
}

.margin-x_bxxxxl
{
    margin: 0 0 50px 0;
}

.margin-x_bxxxxxl
{
    margin: 0 0 60px 0;
}

/* Left */
.margin-x_ls
{
    margin: 0 0 0 10px;
}

.margin-x_lm
{
    margin: 0 0 0 15px;
}

.margin-x_ll
{
    margin: 0 0 0 20px;
}

.margin-x_lxl
{
    margin: 0 0 0 25px;
}

.margin-x_lxxl
{
    margin: 0 0 0 30px;
}

.margin-x_lxxxl
{
    margin: 0 0 0 40px;
}

.margin-x_lxxxxl
{
    margin: 0 0 0 50px;
}

.margin-x_lxxxxxl
{
    margin: 0 0 0 60px;
}

/* Top & Bottom */
.margin-x_s
{
    margin: 10px 0;
}

.margin-x_m
{
    margin: 15px 0;
}

.margin-x_l
{
    margin: 20px 0;
}

.margin-x_xl
{
    margin: 25px 0;
}

.margin-x_xxl
{
    margin: 30px 0;
}

.margin-x_xxxl
{
    margin: 35px 0;
}

.margin-x_xxxxl
{
    margin: 40px 0;
}

/* Left & Right */
.margin-y_s
{
    margin: 0 10px;
}

.margin-y_m
{
    margin: 0 15px;
}

.margin-y_l
{
    margin: 0 20px;
}

.margin-y_xl
{
    margin: 0 25px;
}

.margin-y_xxl
{
    margin: 0 30px;
}

.margin-y_xxxl
{
    margin: 0 35px;
}

.margin-y_xxxxl
{
    margin: 0 40px;
}

/* All Round */
.margin-s
{
    margin: 10px;
}

.margin-m
{
    margin: 15px;
}

.margin-l
{
    margin: 20px;
}

.margin-xl
{
    margin: 25px;
}

.margin-xxl
{
    margin: 30px;
}

.margin-xxxl
{
    margin: 35px;
}

.margin-xxxxl
{
    margin: 40px;
}


/* PADDINGS */

/* Top */
.padding-x_ts
{
    padding: 10px 0 0 0;
}

.padding-x_tm
{
    padding: 15px 0 0 0;
}

.padding-x_tl
{
    padding: 20px 0 0 0;
}

.padding-x_txl
{
    padding: 25px 0 0 0;
}

.padding-x_txxl
{
    padding: 30px 0 0 0;
}

.padding-x_txxxl
{
    padding: 40px 0 0 0;
}

.padding-x_txxxxl
{
    padding: 50px 0 0 0;
}

.padding-x_txxxxxl
{
    padding: 60px 0 0 0;
}

/* Right */
.padding-x_rs
{
    padding: 0 10px 0 0;
}

.padding-x_rm
{
    padding: 0 15px 0 0;
}

.padding-x_rl
{
    padding: 0 20px 0 0;
}

.padding-x_rxl
{
    padding: 0 25px 0 0;
}

.padding-x_rxxl
{
    padding: 0 30px 0 0;
}

.padding-x_rxxxl
{
    padding: 0 40px 0 0;
}

.padding-x_rxxxxl
{
    padding: 0 50px 0 0;
}

.padding-x_rxxxxxl
{
    padding: 0 60px 0 0;
}

/* Bottom */
.padding-x_bs
{
    padding: 0 0 10px 0;
}

.padding-x_bm
{
    padding: 0 0 15px 0;
}

.padding-x_bl
{
    padding: 0 0 20px 0;
}

.padding-x_bxl
{
    padding: 0 0 25px 0;
}

.padding-x_bxxl
{
    padding: 0 0 30px 0;
}

.padding-x_bxxxl
{
    padding: 0 0 40px 0;
}

.padding-x_bxxxxl
{
    padding: 0 0 50px 0;
}

.padding-x_bxxxxxl
{
    padding: 0 0 60px 0;
}

/* Left */
.padding-x_ls
{
    padding: 0 0 0 10px;
}

.padding-x_lm
{
    padding: 0 0 0 15px;
}

.padding-x_ll
{
    padding: 0 0 0 20px;
}

.padding-x_lxl
{
    padding: 0 0 0 25px;
}

.padding-x_lxxl
{
    padding: 0 0 0 30px;
}

.padding-x_lxxl
{
    padding: 0 0 0 30px;
}

.padding-x_lxxxl
{
    padding: 0 0 0 40px;
}

.padding-x_lxxxxl
{
    padding: 0 0 0 50px;
}

/* Top & Bottom */
.padding-x_s
{
    padding: 10px 0;
}

.padding-x_m
{
    padding: 15px 0;
}

.padding-x_l
{
    padding: 20px 0;
}

.padding-x_xl
{
    padding: 25px 0;
}

.padding-x_xxl
{
    padding: 30px 0;
}

/* Right */
.padding-y_rs
{
    padding: 0 10px 0 0;
}

.padding-y_rm
{
    padding: 0 15px 0 0;
}

.padding-y_rl
{
    padding: 0 20px 0 0;
}

.padding-y_rxl
{
    padding: 0 25px 0 0;
}

.padding-y_rxxl
{
    padding: 0 30px 0 0;
}

.padding-y_rxxxl
{
    padding: 0 40px 0 0;
}

.padding-y_rxxxxl
{
    padding: 0 50px 0 0;
}

.padding-y_rxxxxxl
{
    padding: 0 60px 0 0;
}

/* Left */
.padding-y_ls
{
    padding: 0 0 0 10px;
}

.padding-y_lm
{
    padding: 0 0 0 15px;
}

.padding-y_ll
{
    padding: 0 0 0 20px;
}

.padding-y_lxl
{
    padding: 0 0 0 25px;
}

.padding-y_lxxl
{
    padding: 0 0 0 30px;
}

.padding-y_lxxxl
{
    padding: 0 0 0 40px;
}

.padding-y_lxxxxl
{
    padding: 0 0 0 50px;
}

.padding-y_lxxxxxl
{
    padding: 0 0 0 60px;
}


/* Left & Right */
.padding-y_s
{
    padding: 0 10px;
}

.padding-y_m
{
    padding: 0 15px;
}

.padding-y_l
{
    padding: 0 20px;
}

.padding-y_xl
{
    padding: 0 25px;
}

.padding-y_xxl
{
    padding: 0 30px;
}

/* All Round */
.padding-s
{
    padding: 10px;
}

.padding-m
{
    padding: 15px;
}

.padding-l
{
    padding: 20px;
}

.padding-xl
{
    padding: 25px;
}

.padding-xxl
{
    padding: 30px;
}

/* WHITE SPACES
 */
.wowrap-ws
{
    white-space: nowrap;
}

.normal-ws
{
    white-space: normal;
}

.pre-ws
{
    white-space: pre;
}


.prewrap-ws
{
    white-space: pre-wrap;
}

.preline-ws
{
    white-space: pre-line;
}

.breakspaces-ws
{
    white-space: break-spaces;
}

/* FONT CLASSES */
.small-font-size
{
    font-size: 14px;
}

/* Styles */
.italic
{
    font-style: italic;
}

/* Sizes */
.heading-one
{
    font-size: 2em;
}

.heading-two
{
    font-size: 1.5em;
}

.heading-three
{
    font-size: 1.17em;
}

.heading-four
{
    font-size: 1em;
}

.heading-five
{
    font-size: .83em;
}

.heading-six
{
    font-size: .67em;
}

/* Weight */
.fw-hundred
{
    font-weight: 100;
}

.fw-twohundred
{
    font-weight: 200;
}

.fw-threehundred
{
    font-weight: 300;
}

.fw-fourhundred
{
    font-weight: 400;
}

.fw-fivehundred
{
    font-weight: 500;
}

.fw-sixhundred
{
    font-weight: 600;
}

.fw-sevenhundred
{
    font-weight: 700;
}

.fw-eighthundred
{
    font-weight: 800;
}

.fw-ninehundred
{
    font-weight: 900;
}

/* Alignment */
.text-align-left
{
    text-align: left;
}

.text-align-center
{
    text-align: center;
}

.text-align-right
{
    text-align: right;
}

/* Font Sizes */
.header-font-size
{
    font-size: 25px;
}

/* Pargraph */
.paragraph-font-size
{
    font-size: 17px;
}

/* DISPLAYS */
.d_block
{
    display: block;
}

.d_inline-block
{
    display: inline-block;
}

.d_none
{
    display: none;
}

.d_flex
{
    display: flex;
}

.d_grid
{
    display: grid;
}

/* ALIGNMENTS */

/* Flex --> Parents */

/* Content */
.ac_start
{
    align-content: start;
}

.ac_center
{
    align-content: center;
}

.ac_space-between
{
    align-content: space-between;
}

.ac_space-around
{
    align-content: space-around;
}

/* Items */
.ai_stretch
{
    align-items: stretch;
}

.ai_center
{
    align-items: center;
}

.ai_start
{
    align-items: start;
}

.ai_end
{
    align-items: end;
}

/* Justify */
.jc_start
{
    justify-content: start;
}

.jc_center
{
    justify-content: center;
}

.jc_space-between
{
    justify-content: space-between;
}

.jc_space-around
{
    justify-content: space-around;
}

.jc_space-evenly
{
    justify-content: space-evenly;
}

/* Direction */
.fd_row
{
    flex-direction: row;
}

.fd_column
{
    flex-direction: column;
}