/* Universal */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}


/* Body */
body
{
    min-height: 100vh;
    background-color: var(--body-background-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* Section */
section
{
    min-height: 100vh;
    text-align: center;
}

section:nth-child(even),
section:nth-child(even) header
{
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

section:nth-child(odd),
section:nth-child(odd) header
{
    color: var(--secondary-color);
}

section:nth-child(odd):not(:first-child)
{
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

section:nth-child(odd):not(:first-child) header.header
{
    border-bottom: 2px solid var(--primary-color);
}

/* List Elements */
li
{
    list-style: none;
}

/* Links */
a
{
    font-family: var(--links-font);
    color: inherit;
    text-decoration: none;
}


/* Buttons */
button
{
    cursor: pointer;
}

/* Headings */
header, h1, h2, h3, h4, h5, h6
{
    font-family: var(--headings-font);
}

/* All headers except the h1 with the class of "slider-header" */
h1:not(.slider-header)
{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    white-space: nowrap;
    color: var(--secondary-color);
}

/* Paragraphs */
p
{
    font-family: var(--paragraphs-font);
}

/* Images & Videos */
img,
video
{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

code
{
    font-size: 16px;
}