/* Universal */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}


/* Body */
body
{
    min-height: 100vh;
    background-color: var(--body-background-color);
    overflow-x: hidden;
    scroll-behavior: smooth;
}

section
{
    min-height: 100vh
}

/* List Elements */
li
{
    list-style: none;
}

/* Links */
a
{
    font-family: var(--links-font);
    text-decoration: none;
}

/* Buttons */
button
{
    cursor: pointer;
}

/* Headings */
header, h1, h2, h3, h4, h5, h6
{
    font-family: var(--headings-font);
}

/* Paragraphs */
p
{
    font-family: var(--paragraphs-font);
}

/* Section */

/* All Sections */
section
{
    min-height: 100vh;
    text-align: center;
}

/* Images & Videos */
img,
video
{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}

code
{
    font-size: 16px;
}