@media screen and (min-width: 768px)
{

    /* Nav bar */
    i.fas.fa-bars
    {
        display: none;
    }

    nav.main-nav
    {
        left: 0;
        width: 100%;
        height: 70px;
        border-left: none;
        border-bottom: 3px solid var(--primary-border-color);
    }



    nav.main-nav ul
    {
        position: relative;
        top: 70%;
    }

    nav.main-nav ul li
    {
        display: inline-block;
    }

    nav.main-nav ul li:not(:last-child)
    {
        margin-right: 40px;
    }


    /* Slider */
    .content.slide-content
    {
        max-width: 600px;
        border-radius: 0 calc(var(--base-border-radius) / 1.5) calc(var(--base-border-radius) / 1.5) 0;
    }

    /* Gallery */
    .container.gallery-container div h2
    {
        top: -50%;
    }

    .container.gallery-container div:hover h2
    {
        top: 50%;
        transition: top .3s ease-in;
    }

    /* Click Indicator */
    section.hero .layer.top-layer .container.tap-screen-indicator-container,
    section.hero .layer.top-layer .container.tap-screen-indicator-container i
    {
        font-size: 20px;
    }

    /* Layers */
    section.hero h1:not(.slider-header)
    {
        font-size: 8rem;
    }

    .bottom-layer h1
    {
        font-size: 20px;
        z-index: 10;
    }

    /* Section Content */
    .container.section-content-container>div
    {
        flex-direction: row;
    }


    .image-desc-container
    {
        margin-top: -100px;
    }


    .container.section-content-container .section-content:nth-child(odd) .image-desc-container
    {
        text-align: right;
    }

    .container.section-content-container .section-content:nth-child(even) .image-desc-container
    {
        text-align: left;
    }


    .container.section-content-container .section-content:nth-child(even) .image-desc-container
    {
        order: -1;
    }

    .container.section-content-container .study-start-content
    {
        text-align: center;
    }
}