@import url('https://fonts.googleapis.com/css?family=Oswald: 100, 200, 300, 400, 500, 600, 700, 800, 900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans: 100, 200, 300, 400, 500, 600, 700, 800, 900');


:root
{
    /* Fonts */
    --headings-font: 'Oswald', sans-serif;
    --paragraphs-font: 'Open Sans', sans-serif;
    --links-font: 'Open Sans', sans-serif;
    --primary-color: #008080;
    --secondary-color: #fff;
    --primary-btn-color: #008080;
    --primary-btn-background-color: #fff;
    --primary-btn-hover-overlay-color: #008080;
    --primary-btn-hover-text-color: #fff;
    --primary-border-color: #008080;

    --secondary-btn-color: #008080;
    --secondary-btn-background-color: #fff;
    --secondary-btn-hover-overlay-color: #008080;
    --secondary-btn-hover-text-color: #fff;

    /* Colors */
    --primary-color: #008080;
    --secondary-color: #fff;

    /* Radii */
    --base-border-radius: 10px;

    /* Shadows */
    --text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    --box-shadow: 0 2px 5px rgba(0, 0, 0, .3);

    /* Overlay */
    --overlay-background-color: rgba(0, 0, 0, .4);
}

html
{
    scroll-behavior: smooth;
}

/* Overlay */
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--overlay-background-color);
}

/* Buttons */
.btn
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    border-radius: calc(var(--base-border-radius) * 5);
    text-transform: uppercase;
    overflow: hidden;
    cursor: pointer;
}

.btn:hover .btn-hover-overlay
{
    transform: translateX(0);
    transition: transform .3s ease-in;
}

.btn-text
{
    position: relative;
    z-index: 4000;
    color: #fff;
}

.primary-btn,
.secondary-btn
{
    margin: -50px 0 50px 0;
    width: 150px;
}

.btn-hover-overlay
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform .3s ease-in;
}


/* Primary Button */
.primary-btn
{
    border: 2px solid var(--secondary-btn-background-color);
    color: var(--primary-btn-color);
    background-color: var(--primary-btn-background-color);
    transition: color .15s ease-in .2s;
}

.primary-btn:hover
{
    border: 2px solid var(--secondary-btn-background-color);
}

.primary-btn:hover .btn-text
{
    color: var(--primary-btn-background-color);
    transition: color .15s ease-in .2s;
}

.primary-btn .btn-text
{

    color: var(--primary-btn-text-color);
}

.primary-btn .primary-btn-hover-overlay
{
    background-color: var(--primary-btn-hover-overlay-color);
}

/* Secondary Button */
.secondary-btn
{
    border: 2px solid var(--secondary-btn-hover-overlay-color);
    color: var(--secondary-btn-color);
    background-color: var(--secondary-btn-background-color);
    transition: color .15s ease-in .2s;
}

.secondary-btn .btn-text
{
    color: var(--secondary-btn-text-color);
}

.secondary-btn:hover .btn-text
{
    color: var(--secondary-btn-background-color);
    transition: color .15s ease-in .2s;
}

.secondary-btn .secondary-btn-hover-overlay
{
    background-color: var(--secondary-btn-hover-overlay-color);
}

/* Slider Buttons */
.slider-btns-container .btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid var(--secondary-color);
    height: 45px;
    width: 45px;
    border-radius: calc(var(--base-border-radius) * 5);
    color: var(--secondary-color);
    cursor: pointer;
    transition: border .19s ease-in, color .15s ease-in, background .15s ease-in;
}

.slider-btns-container .btn:hover
{
    border-color: var(--primary-color);
    background-color: var(--primary-color);
    transition: border .19s ease-in, color .15s ease-in, background .15s ease-in;
}

.container.slider-btns-container .btn:active
{
    transform: scale(.98);
    transition: none;
}

/* Scroll To Top Button */
.scroll-to-top-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 20px;
    right: -100px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border: 3px solid #fff;
    background-color: var(--primary-btn-color);
    color: var(--secondary-btn-background-color);
    z-index: 6000;
    box-shadow: var(--box-shadow);
    transition: right .3s ease-in;
}

.scroll-to-top-btn.active
{
    right: 20px;
    transition: right .3s ease-in;
}

.scroll-to-top-btn:active
{
    transform: scale(.98);
    transition: none;
}



/* Hero */
/* Section: Hero */
.hero
{
    position: relative;
    top: -30px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Layers */
.layer
{
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.layer.top-layer
{
    color: var(--secondary-color);
    background-color: var(--primary-color);
    cursor: pointer;
    z-index: 1000;
}

.layer.top-layer .container.tap-screen-indicator-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    gap: 10px;
}

.layer.top-layer .container.tap-screen-indicator-container i
{
    font-size: 15px;
    animation: click 1s linear infinite .5s;
}

.layer.top-layer.hidden
{
    opacity: 0;
    transition: opacity .3s ease-in;
    pointer-events: none;
}

.layer.bottom-layer
{
    height: 100%;
    top: -30px;
    z-index: 500;
}

/* Section Headers */
.section-header
{
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    width: fit-content;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    padding-top: 40px;
    text-align: center;
}

.section-header h1
{
    font-size: 1.4rem;
}

section:nth-child(odd) .section-header h1
{
    color: var(--primary-color)
}

section:nth-child(even) .section-header h1
{
    color: var(--secondary-color)
}

.section-header:nth-child(odd) h1
{
    color: var(--secondary-btn-hover-overlay-color);
}

section header.header.section-header span.sub-text
{
    font-size: 1.5rem;
}

/* Theme Overview Text */
section p.theme-overview-text
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    padding: 10px 30px;
}


/* Theme Gallery */
.gallery-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: -40px;
    padding: 100px 0;
    width: 100%;
}

.container.gallery-container div
{
    position: relative;
    height: 300px;
    width: 300px;
    overflow: hidden;
}

.container.gallery-container div .overlay
{
    position: absolute;
    border-radius: calc(var(--base-border-radius) * 1.5);
}

.container.gallery-container img
{
    flex-grow: 1;
    border-radius: inherit;
    height: 300px;
    border-radius: calc(var(--base-border-radius) * 1.5);
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow .2s ease-in, transform .2s ease-in;
}

.container.gallery-container div h2
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top .3s ease-in;
    color: var(--secondary-color);
    white-space: nowrap;
    text-transform: uppercase;
}

.container.gallery-container div:hover h2
{
    top: 50%;
    transition: top .3s ease-in;
}

/* Section Content Container */
.container.section-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 40px;
}

.section-content
{
    margin: 0 40px;
    gap: 40px;
}

.section-content:nth-child(even)
{
    margin-top: 100px;
}

.section-content.study-start-content .image-desc-container
{
    order: -1;
    margin: 20px 0;
}

.container.section-content-container>div
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.container.section-content-container>div>*
{
    width: 100%;
}

.container.section-content-container>div>.image-desc-container h2
{
    display: inline-block;
    margin-bottom: 15px;
    border-bottom: 2px solid var(--primary-btn-color);
}


.container.section-content-container .section-content img
{
    border-radius: calc(var(--base-border-radius) / 1.5);
    height: 100%;
    width: 60%;
}

.image-desc-container
{
    text-align: center;
}

.container.section-content-container .section-content:nth-child(even) .image-desc-container
{
    order: -1;
}

.container.section-content-container .section-content .container.assets-container>div
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.container.section-content-container .section-content .container.assets-container img
{
    margin-right: 20px;
}

.container.section-content-container .section-content .container.assets-container video
{
    height: 70%;
    width: 80%;
    margin-bottom: 40px;
}

/* Footer */
footer.footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    color: var(--primary-color);
    border-top: 2px solid var(--primary-color);
}